In [1]:
import pandas as pd
import numpy as np

import json
from pprint import pprint
import matplotlib.pyplot as plt

import seaborn as sb

In [2]:
jsonfiles = ['smoke.json', 'fringe.json', 'eastforty.json']

Breweries = ["Smoke", "Fringe", "East Forty"]

In [3]:
def JSONtoDataFrame(JSONFile, beername):
    # Open JSON Files
    with open(JSONFile) as f:
        data = json.load(f)

    # Converts data to DataFrame
    beerDF = pd.DataFrame(data[beername])
    # beerDF.head(10)

    return beerDF

In [4]:
# Goes Through DataFrame and Removes Beers not Brewed by Company
def RemoveWrongBeers(beerDF, beername):
    for index, row in beerDF.iterrows():
        if not row['name'].startswith(beername):
            beerDF = beerDF.drop([index])
        else:
            #print('next')
            continue
    return beerDF

In [5]:
def FindMeanColumn(columnName):
    a = pd.to_numeric(columnName, errors = 'coerce')
    return(a.mean())

In [7]:
BeerData = []

#beer_df = JSONtoDataFrame(jsonfiles[3], Breweries[3])
#beerDF = RemoveWrongBeers(beer_df, Breweries[3])
#beerDF.head(25)

for x in range(len(Breweries)):
    brewery = {}
    beer_df = JSONtoDataFrame(jsonfiles[x], Breweries[x])
    beer_df = RemoveWrongBeers(beer_df, Breweries[x])
    beer_df.head()

    # remove "Ratings" from column 1 & find average score
    beer_df['# of ratings'] = beer_df['# of ratings'].str.split(' ').str[0]
    total_ratings = pd.to_numeric(beer_df['# of ratings'], errors = 'coerce').sum()

    #getting score average
    beer_df['score'] = beer_df['score'].str.split('/').str[0]
    averageScore = FindMeanColumn(beer_df['score'])

    # remove % from column & find average abv
    beer_df['abv'] = beer_df['abv'].str.strip('%')
    averageABV = FindMeanColumn(beer_df['abv'])
    
    # average calories
    averageCalories = FindMeanColumn(beer_df['calories'])
    
    #average IBU
    averageIBU = FindMeanColumn(beer_df['ibu'])


    brewery['Name'] = Breweries[x]
    brewery['Average Score'] = averageScore
    brewery['Total Ratings'] = total_ratings
    brewery['Average ABV'] = averageABV
    brewery['Average Calories'] = averageCalories
    brewery['Average IBU'] = averageIBU
    BeerData.append(brewery)

In [8]:
main_df = pd.DataFrame(BeerData)
main_df.head(25)

,Average ABV,Average Calories,Average IBU,Average Score,Name,Total Ratings
0,5.782353,173.470588,41.733333,3.060000,Smoke,16
1,7.454545,223.636364,33.333333,3.052222,Fringe,18
2,5.675000,170.250000,22.000000,3.006667,East Forty,3

In [9]:
main_df['Google Rating'] = ""
main_df.head(25)

,Average ABV,Average Calories,Average IBU,Average Score,Name,Total Ratings,Google Rating
0,6.540741,196.222222,30.687500,2.968000,The Big Rip,74,
1,7.925000,237.750000,36.950000,3.612000,Boulevard,16237,
2,5.731250,171.937500,21.300000,3.082857,Brewery Emperial,26,
3,6.146154,184.769231,38.181818,3.050833,Calibration,19,
4,6.183333,185.500000,46.461538,3.218500,Cinder Block,143,
5,7.003125,210.093750,44.769231,3.066667,Double Shift,37,
6,6.077778,182.166667,25.250000,3.174000,KC Bier,121,
7,7.985000,239.550000,42.529412,3.269000,Martin City,145,
8,6.493333,194.800000,33.642857,3.075714,Strange Days,21,
9,7.874359,236.230769,44.812500,3.198611,Torn Label,145,
10,5.666667,170.000000,NaN,3.108333,Casual Animal,24,
11,5.989474,179.631579,39.611111,3.115556,Stockyards,40,
12,5.670000,170.100000,24.538462,3.304103,Crane,296,
13,6.100000,183.000000,44.750000,3.091111,Border Brewing,19,
14,5.361538,160.846154,NaN,3.120000,BKS,14,

In [10]:
counter = 0
for index,row in main_df.iterrows():
            
    for index4, row4 in google_df.iterrows():
        if row['Name'] in row4['Name']:
            main_df.loc[index, 'Google Rating'] = google_df.loc[index4, 'Google Rating Out of 5 Stars']
        else:
            continue

main_df.head(25)

,Average ABV,Average Calories,Average IBU,Average Score,Name,Total Ratings,Google Rating
0,6.540741,196.222222,30.687500,2.968000,The Big Rip,74,4.6
1,7.925000,237.750000,36.950000,3.612000,Boulevard,16237,4.8
2,5.731250,171.937500,21.300000,3.082857,Brewery Emperial,26,4.5
3,6.146154,184.769231,38.181818,3.050833,Calibration,19,4.1
4,6.183333,185.500000,46.461538,3.218500,Cinder Block,143,4.6
5,7.003125,210.093750,44.769231,3.066667,Double Shift,37,4.6
6,6.077778,182.166667,25.250000,3.174000,KC Bier,121,
7,7.985000,239.550000,42.529412,3.269000,Martin City,145,4.7
8,6.493333,194.800000,33.642857,3.075714,Strange Days,21,
9,7.874359,236.230769,44.812500,3.198611,Torn Label,145,4.6
10,5.666667,170.000000,NaN,3.108333,Casual Animal,24,
11,5.989474,179.631579,39.611111,3.115556,Stockyards,40,4.6
12,5.670000,170.100000,24.538462,3.304103,Crane,296,4.8
13,6.100000,183.000000,44.750000,3.091111,Border Brewing,19,4.6
14,5.361538,160.846154,NaN,3.120000,BKS,14,4.9

In [11]:
main_df.loc[6,'Google Rating'] = 4.7

main_df.loc[8,'Google Rating'] = 4.7

main_df.loc[10,'Google Rating'] = 4.5

# main_df.loc[11,'Google Rating'] = 4.6

# main_df.loc[13,'Google Rating'] = 4.4

# main_df.loc[17,'Google Rating'] = 5.0

# main_df.loc[18,'Google Rating'] = 4.7

main_df.head(25)

,Average ABV,Average Calories,Average IBU,Average Score,Name,Total Ratings,Google Rating
0,6.540741,196.222222,30.687500,2.968000,The Big Rip,74,4.6
1,7.925000,237.750000,36.950000,3.612000,Boulevard,16237,4.8
2,5.731250,171.937500,21.300000,3.082857,Brewery Emperial,26,4.5
3,6.146154,184.769231,38.181818,3.050833,Calibration,19,4.1
4,6.183333,185.500000,46.461538,3.218500,Cinder Block,143,4.6
5,7.003125,210.093750,44.769231,3.066667,Double Shift,37,4.6
6,6.077778,182.166667,25.250000,3.174000,KC Bier,121,4.7
7,7.985000,239.550000,42.529412,3.269000,Martin City,145,4.7
8,6.493333,194.800000,33.642857,3.075714,Strange Days,21,4.7
9,7.874359,236.230769,44.812500,3.198611,Torn Label,145,4.6
10,5.666667,170.000000,NaN,3.108333,Casual Animal,24,4.5
11,5.989474,179.631579,39.611111,3.115556,Stockyards,40,4.6
12,5.670000,170.100000,24.538462,3.304103,Crane,296,4.8
13,6.100000,183.000000,44.750000,3.091111,Border Brewing,19,4.6
14,5.361538,160.846154,NaN,3.120000,BKS,14,4.9

In [13]:
main_df["Year Opened"] = ""
main_df.head(25)

,Average ABV,Average Calories,Average IBU,Average Score,Name,Total Ratings,Google Rating,Year Opened
0,6.540741,196.222222,30.687500,2.968000,The Big Rip,74,4.6,
1,7.925000,237.750000,36.950000,3.612000,Boulevard,16237,4.8,
2,5.731250,171.937500,21.300000,3.082857,Brewery Emperial,26,4.5,
3,6.146154,184.769231,38.181818,3.050833,Calibration,19,4.1,
4,6.183333,185.500000,46.461538,3.218500,Cinder Block,143,4.6,
5,7.003125,210.093750,44.769231,3.066667,Double Shift,37,4.6,
6,6.077778,182.166667,25.250000,3.174000,KC Bier,121,4.7,
7,7.985000,239.550000,42.529412,3.269000,Martin City,145,4.7,
8,6.493333,194.800000,33.642857,3.075714,Strange Days,21,4.7,
9,7.874359,236.230769,44.812500,3.198611,Torn Label,145,4.6,
10,5.666667,170.000000,NaN,3.108333,Casual Animal,24,4.5,
11,5.989474,179.631579,39.611111,3.115556,Stockyards,40,4.6,
12,5.670000,170.100000,24.538462,3.304103,Crane,296,4.8,
13,6.100000,183.000000,44.750000,3.091111,Border Brewing,19,4.6,
14,5.361538,160.846154,NaN,3.120000,BKS,14,4.9,

In [15]:
main_df.to_json("ratingsAVGScores.js", orient='records')